.service-links ul.links li{display:inline-block;}
.sprites.service-links span{display:block;}
.service-links span.hide{display:none;}
.sprites.service-links {background-repeat: no-repeat; float:left;}
.sprites.service-links.w16 {padding-left: 18px; background-image:url("sl_sprites16.png");}
.sprites.service-links-twitter {background-position: 0 0px; height:16px}
.sprites.service-links-facebook {background-position: 0 -16px; height:16px}
