@font-face {
    font-family: 'eurostile_extended_2regular';
    src: url('../fonts/eurostile_extended_2-webfont.eot');
    src: url('../fonts/eurostile_extended_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostile_extended_2-webfont.woff2') format('woff2'),
         url('../fonts/eurostile_extended_2-webfont.woff') format('woff'),
         url('../fonts/eurostile_extended_2-webfont.ttf') format('truetype'),
         url('../fonts/eurostile_extended_2-webfont.svg#eurostile_extended_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:'DaxOT-Light';
	src: url('../fonts/DaxOT-Light_gdi.eot');
	src: url('../fonts/DaxOT-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DaxOT-Light_gdi.woff') format('woff'),
		url('../fonts/DaxOT-Light_gdi.ttf') format('truetype'),
		url('../fonts/DaxOT-Light_gdi.svg#DaxOT-Light') format('svg');
	font-weight: 350;
	font-style: normal;
	font-stretch: normal;
}